<!-- This document declares the HTML version and language -->
<!DOCTYPE html> 
<html lang="en"> 
  <!-- The head section contains meta-information about the document -->
  <head>
    <!-- Declares the character encoding of the document -->
    <meta charset="UTF-8"> 
    <!-- Links to external stylesheets for styling the page -->
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{cache_id}}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{cache_id}}">
    <!-- Sets the icon for the website -->
    <link rel="icon" href="../static/images/icon.png" />
    <!-- Link to jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Link to custom JavaScript file -->
    <script src="../static/scripts/101-hbnb.js?{{cache_id}}"></script>
    <!-- Sets the title of the document -->
    <title>HBnB</title> 
  </head>

  <!-- The body section contains the visible content of the document -->
  <body>
    <!-- Represents the header section of the page -->
    <header> 
      <!-- Placeholder for logo -->
      <div class="logo"></div> 
      <!-- Container for API status -->
      <div id="api_status"></div>
    </header>

    <!-- Container for the main content of the page -->
    <div class="container"> 
      <!-- Section for filtering options -->
      <section class="filters"> 
        <!-- Section for selecting locations -->
        <div class="locations"> 
          <!-- Heading for states -->
          <h3>States</h3> 
          <!-- Placeholder for state selection -->
          <h4>&nbsp;</h4> 
          <!-- Popover for displaying states and cities -->
          <div class="popover"> 
            <!-- Unordered list for states and cities -->
            <ul> 
              <!-- Loop through states -->
              {% for state in states %} 
              <!-- List item for each state -->
              <li> 
                <!-- Checkbox for state selection -->
                <h2><input type="checkbox" id="state_filter" data-id="{{state[0].id}}" data-name="{{state[0].name}}"> {{ state[0].name }}:</h2> 
                <!-- Nested list for cities within the state -->
                <ul> 
                  <!-- Loop through cities -->
                  {% for city in state[1] %} 
                  <!-- List item for each city -->
                  <li><input type="checkbox" id="city_filter" data-id="{{city.id}}" data-name="{{city.name}}">{{ city.name }}</li> 
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- Section for selecting amenities -->
        <div class="amenities"> 
          <!-- Heading for amenities -->
          <h3>Amenities</h3> 
          <!-- Placeholder for amenity selection -->
          <h4>&nbsp;</h4> 
          <!-- Popover for displaying amenities -->
          <div class="popover"> 
            <!-- Unordered list for amenities -->
            <ul> 
              <!-- Loop through amenities -->
              {% for amenity in amenities %} 
              <!-- List item for each amenity -->
              <li><input type="checkbox" id="amenity_filter" data-id="{{amenity.id}}" data-name="{{amenity.name}}">{{ amenity.name }}</li> 
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- Button for initiating search -->
        <button type="button">Search</button> 
      </section>

      <!-- Heading for places section -->
      <div class="placesh1"><h1>Places</h1></div> 

      <!-- Section for displaying places -->
      <section class="places"> 
      </section>
    </div>

    <!-- Footer section of the page -->
    <footer> 
      <!-- School name in the footer -->
      <p>Holberton School</p> 
    </footer>
  </body> <!-- Closing tag for body -->
</html> <!-- Closing tag for HTML document -->
